<!Doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        <%= data.name %>
    </title>
</head>

<body>
    <h2>
        <%= data.name %>の詳細
    </h2>
    <table>
        <tr>
            <th>項目</th>
            <th>データ</th>
        </tr>
        <tr>
            <td>ID</td>
            <td>
                <%= data.id %>
            </td>
        </tr>
        <tr>
            <td>商品コード</td>
            <td>
                <%= data.code %>
            </td>
        </tr>
        <tr>
            <td>商品名</td>
            <td>
                <%= data.name %>
            </td>
        </tr>
        <tr>
            <td>発売日</td>
            <td>
                <%= data.release_date %>
            </td>
        </tr>
        <tr>
            <td>値段</td>
            <td>
                <%= data.price %><a>円</a>
            </td>
        </tr>
        <tr>
            <td>商品説明</td>
            <td>
                <%= data.explanation %>
            </td>
        </tr>
    </table>
    <button onclick="location.href='/dm/edit/<%= id %>'">編集</button>
    <button onclick="location.href='/dm/deletek/<%= id %>'">削除</button>
    <button onclick="location.href='/dm'">商品一覧に戻る</button>
</body>

</html>