<!Doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        商品の情報編集
    </title>
</head>

<body>
    <h2>
        <%= data.name %>の情報編集
    </h2>
    <form action="/dm/update/<%= data.id - 1 %>" method="POST">
        <table>
            <tr>
                <th>項目</th>
                <th>データ</th>
            </tr>
            <tr>
                <td>商品コード</td>
                <td><input type="text" name="code" value="<%= data.code %>"></td>
            </tr>
            <tr>
                <td>商品名</td>
                <td><input type="text" name="name" value="<%= data.name %>"></td>
            </tr>
            <tr>
                <td>発売日</td>
                <td><input type="text" name="release_date" value="<%= data.release_date %>"></td>
            </tr>
            <tr>
                <td>1BOXの値段</td>
                <td><input type="text" name="price" value="<%= data.price %>"></td>
            </tr>
            <tr>
                <td>値段</td>
                <td><input type="text" name="song" value="<%= data.song %>"></td>
            </tr>
            <tr>
                <td>実装時期</td>
                <td><input type="text" name="period" value="<%= data.period %>"></td>
            </tr>
            <tr>
                <td>アイドル詳細</td>
                <td><input type="text" name="explanation" value="<%= data.explanation %>"></td>
            </tr>
        </table>
        <input type="submit" values="登録">
    </form>
    <button onclick="location.href='/dm/<%= id %>'">商品詳細に戻る</button>
</body>

</html>